body 
{
    background-color:rgb(142, 177, 221) ;

}
h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.derecha 
{
    text-align: right;

}
img{
    width: 350px;
    margin-left: 500px;
}
